#banner {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/banner.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 54vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h2{
    color: white;
    border: 0;
    display: block;
}

#banner > * {
    color: white;
}

hr {
    border: 2px solid white;
    width: 50px;
}

#portfolio {
    text-align: center;
}

h2 {
    display: inline-block;
    margin: 20px;
    padding:10px;
    border-bottom: 1px solid black;
}

#portfolio img {
    width: 100%;
    margin-bottom: 20px;
}

#about {
    text-align: center;
}

#about img {
    border-radius: 50%;
    float: left;
    max-width: 300px;
    max-height: 300px;
}

.message {
    margin: 10px 20%;
}

.clear {
    clear: both;
}

#contact {
    text-align: center;
}

#contact button {
    width: 80%;
    height: 60px;
    font-size: 32px;
    margin: 20px 0;
}

#contact a {
    color: #333;
}